[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ablog = "*"
isso = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pipenv = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-last-updated-by-git = "*"
sphinx-press-theme = "*"
sphinxcontrib-autoyaml = "*"
sphinxnotes-isso = "*"

[dev-packages]
black = "*"
pre-commit = "*"
